/* Created by: Grace S
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-PHP-JS-HelloWorld
*/

body {
  background-color: rgb(249, 244, 221);
  text-align: center;
}

h1 {
	background-color: rgb(238, 225, 165);
	color: hsl(0, 0%, 0%);
	padding: 40px;
}

h3 {
  background-color: #f4ecc7;
  color: #97a5d7;
  text-align: center;
}